* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mixin para display flex y justify-content center */
/* Mixin para display flex y justify-content space-evenly */
/* Mixin para display flex y justify-content space-between */
/* Variable para el Width*/
/*Variables para los colores*/
body {
  background-color: #FEE3EC;
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

footer {
  background-color: pink;
  position: absolute;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 0;
}

.h-footer {
  color: #7A4495;
  font-size: 12px;
}

/*--------Navbar--------*/
.nav-item {
  margin-left: 20px;
}

/*--------Bienvenida--------*/
.grid {
  background-image: url("../img/fondo.jpg");
}

.ba-text {
  color: rgba(206, 73, 100, 0.801);
  font-family: "Nanum Pen Script", cursive;
  font-size: 50px;
  margin-top: 20px;
}

.heart {
  width: 300px;
}

.bb-text {
  color: rgb(194, 69, 94);
  font-family: "Vesper Libre", serif;
  font-size: 25px;
}

.send-text {
  background-color: #FEE3EC;
  font-family: "Nanum Pen Script", cursive;
  font-size: 25px;
  border-style: none;
  border-radius: 50%;
  padding: 10px 15px;
  width: 350px;
}

.btn {
  color: rgb(156, 60, 79);
  font-family: "Nanum Pen Script", cursive;
  font-size: 16px;
  background-color: rgba(230, 101, 127, 0.432);
  border-style: none;
  border-radius: 50%;
  padding: 5px 10px;
  letter-spacing: 4px;
}

/*----------Index---------*/
main {
  flex: 1;
  padding-bottom: 60px;
}

.idle {
  font-size: 40px;
  color: purple;
  font-family: "Over the Rainbow", cursive;
  margin-top: 20px;
}

.first-p {
  font-size: 16px;
  font-family: "Vesper Libre", serif;
  margin-bottom: 40px;
}

table {
  display: inline-table;
  justify-content: center;
  width: 100%;
  height: auto;
  font-family: "Vesper Libre", serif;
  font-size: 16px;
}

thead th {
  color: purple;
  width: 100%;
  font-family: "Vesper Libre", serif;
  font-size: 25px;
}

tbody {
  display: inline-table;
  font-family: "Vesper Libre", serif;
}

td {
  border: 2px solid purple;
}

.integrantes {
  background-color: pink;
  color: purple;
  font-family: "Vesper Libre", serif;
  font-size: 50px;
  width: 100%;
  margin-top: 50px;
}

h3 {
  color: purple;
  font-family: "Vesper Libre", serif;
  font-size: 16px;
  margin-top: 10px;
}

.name-fandom {
  color: purple;
  font-family: "Over the Rainbow", cursive;
  font-size: 40px;
  margin-top: 50px;
}

.castillo img {
  width: 100px;
  margin-top: 5px;
}

.second-p {
  font-size: 16px;
  font-family: "Vesper Libre", serif;
  margin-top: 10px;
}

.logo-fans img {
  width: 100px;
}

/*----------Album----------*/
.album-text {
  color: rgba(233, 38, 132, 0.74);
  font-family: "Over the Rainbow", cursive;
  font-size: 70px;
  margin-top: 45px;
  margin-bottom: 0px;
}

.ifeel-name {
  color: rgba(127, 0, 191, 0.582);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: "Over the Rainbow", cursive;
  font-size: 150px;
}

.img-qg {
  margin-bottom: 5px;
}
.img-qg img {
  border-radius: 10%;
  opacity: 0.8;
}

.img-bg {
  margin-bottom: 100px;
}
.img-bg img {
  border-radius: 10%;
  opacity: 0.8;
}

.video-name {
  color: rgba(233, 38, 132, 0.74);
  font-family: "Over the Rainbow", cursive;
  font-size: 30px;
  margin-top: 50px;
}

.gallery-name {
  color: rgba(233, 38, 132, 0.74);
  font-family: "Kranky", cursive;
  font-size: 40px;
  margin-top: 5px;
}

.gallery-q {
  display: flex;
  width: 100%;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 80px;
}
.gallery-q img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.gallery-q img:hover {
  cursor: crosshair;
  width: 300px;
}

.gallery-c {
  display: flex;
  width: 100%;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.gallery-c img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
  margin-bottom: 50px;
}
.gallery-c img:hover {
  cursor: crosshair;
  width: 300px;
}

.gallery-b {
  display: flex;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}
.gallery-b img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.gallery-b img:hover {
  cursor: crosshair;
  width: 300px;
}

/*-----------Tours----------*/
.tour-name {
  color: rgba(233, 38, 132, 0.74);
  font-family: "Nanum Pen Script", cursive;
  font-size: 150px;
}

.tour2023 {
  color: rgba(233, 38, 132, 0.74);
  font-family: "Nanum Pen Script", cursive;
  font-size: 40px;
  margin-top: 50px;
}

.img-t2023 {
  margin-top: 10px;
  border-radius: 10%;
}

.ticketmaster {
  margin-top: 50px;
}
.ticketmaster img {
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 100px;
}

.ticketmasterh2 {
  color: rgba(233, 38, 132, 0.74);
  font-family: "Nanum Pen Script", cursive;
  font-size: 70px;
  margin-top: 30px;
}

.ticketmaster-text {
  color: rgba(127, 0, 191, 0.582);
  width: 100%;
  font-family: "Nanum Pen Script", cursive;
  font-size: 25px;
}

.img-ticket {
  width: 300px;
}

span {
  display: none;
}

.table-alone {
  width: 100%;
}

.table-alone1 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
