/*Dispositivos móviles y tablets*/
@media (min-width: 550px) {

    /*----------Album----------*/
    .img-qg,
    .img-bg {

        img {
            width: 450px;
            margin-left: 20px;
        }
    }

    .gallery-q,
    .gallery-c,
    .gallery-b {
        width: 500px;

    }

    /*----------Tours----------*/
    .ticketmaster {

        img {
            width: 500px;
            margin-left: 500px;
        }
    }
}

/*----------Instagram----------*/
.insta-ss {
    img {
        width: 450px;
    }
}

@media (min-width:650px) {

    /*----------Tours----------*/
    .table-1a {
        margin-left: 30px;
        margin-right: 30px;
    }

    .table-2a {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width:767px) {

    /*----------Album----------*/
    .img-qg,
    .img-bg {

        img {
            margin-left: 100px;
        }
    }

    .gallery-name {
        font-size: 40px;
        margin-top: 10px;
    }

    .gallery-q,
    .gallery-c,
    .gallery-b {
        width: 600px;
        height: 400px;
        margin-bottom: 30px;
        margin-left: 25px;
    }

    /*----------Tours----------*/
    .table-1a {
        margin-left: 60px;
        margin-right: 60px;
    }

    .table-2a {
        margin-left: 60px;
        margin-right: 60px;
    }

    /*----------Instagram----------*/

    .instagram-media {
        width: 300px;
        height: 600px;
    }
}

/*Tablets y pantallas pequeñas*/
@media (min-width: 991px) {

    /*----------Album----------*/
    .img-qg,
    .img-bg {

        img {
            margin-left: 200px;
        }
    }

    .gallery-q,
    .gallery-c,
    .gallery-b {
        width: 600px;
        height: 400px;
        margin-left: 150px;
    }


    /*----------Tours----------*/

    .tour2023,
    .img-t2023 {
        width: 600px;
    }

    .table-1a {
        margin-left: 500px;
        margin-right: 500px;
    }

    .table-2a {
        margin-left: 500px;
        margin-right: 500px;
    }

    /*----------Instagram----------*/

    .instagram-media {
        height: 525px;
    }
}

/*Pantallas medianas y desktops*/
@media (min-width: 1199px) {

    /*----------Index----------*/
    h3 {
        color: rgba(127, 0, 191, 0.527);
        font-size: 28px;
    }

    /*----------Album----------*/
    .img-qg,
    .img-bg {

        img {
            margin-left: 300px;
        }
    }

    .gallery-q,
    .gallery-c,
    .gallery-b {
        margin-left: 250px;
    }

    /*----------Tours----------*/
    .table-1a {
        margin-left: 200px;
        margin-right: 200px;
    }

    .table-2a {
        margin-left: 200px;
        margin-right: 200px;
    }
}