/* Variable para el Width*/
$full-width: 100%;

/*Variables para los colores*/
$color-1: rgb(236, 197, 206);
$color-2: rgba(250, 94, 146, 0.541);
$color-3: rgb(253, 152, 175);
$color-4: rgba(230, 101, 127, 0.623);
$color-5: rgb(194, 69, 94);
$color-6: rgba(230, 101, 127, 0.432);
$color-7: rgba(240, 248, 255, 0.527);
$color-8: rgb(233, 38, 132, 0.74);
$color-9: rgba(127, 0, 191, 0.527);
$color-10:rgba(127, 0, 191, 0.582);