/* Variable para el Width*/
$full-width: 100%;

/*Variables para los colores*/
$color-1: #FEE3EC;
$color-2: pink;
$color-3: rgba(206, 73, 100, 0.801);
$color-4: rgb(194, 69, 94);
$color-5: rgb(156, 60, 79);
$color-6: rgb(233, 38, 132, 0.74);
$color-7: purple;
$color-8: rgba(127, 0, 191, 0.527);
$color-9: rgba(127, 0, 191, 0.582);
$color-10: rgba(230, 101, 127, 0.432);
$color-11: #7A4495;